*{
    margin: 0;
    box-sizing: border-box;
}


img{
    width: 100%;
}

body{
    background-color: hsl(30, 38%, 92%);  
}

.agrupar{
    background-color:white;
    width: 375px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
}

.texto{
    padding: 1.5rem;
}

h1{
    font-family: 'Fraunces', serif;
    font-size: 35px;
    margin-top: 10px;
    font-weight: 500,700;
}

.estilo1{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500,700;
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
}

.parrafo{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500,700;
    line-height: 25px;
    color: hsl(228, 12%, 48%)
}

.precio1{
    font-family: 'Fraunces', serif;
    font-size: 35px;
    color: hsl(158, 36%, 37%);
    font-weight: bold;
}

.precio2{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    margin-left: 15px; 
    position: absolute;
    top: 15px;
}

.precios{
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
}

button{
    width: 100%;
    height: 45px;
    border-radius: 8px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: white;
}
button img{
    width: 13px;
}


